In [15]:
import pandas as pd

In [16]:
data5 = pd.read_csv('/Users/janduplessis/Library/CloudStorage/OneDrive-NHS/python-data/ACCESS BI/train_5_old.csv')
data6 = pd.read_csv('/Users/janduplessis/Library/CloudStorage/OneDrive-NHS/python-data/ACCESS BI/train_6_old.csv')

In [17]:
data = pd.concat([data5, data6], axis=0, ignore_index=True)

In [18]:
data

,Appointment date,Appointment status,Clinician,Rota type,Patient ID,Patient Count
0,03-Apr-23,Finished,"HUSSEIN, Shuman (Dr)",Stanhope Mews GP,49850099,1
1,03-Apr-23,Finished,"HUSSEIN, Shuman (Dr)",Stanhope Mews GP,49833145,1
2,03-Apr-23,Finished,"HUSSEIN, Shuman (Dr)",Stanhope Mews GP,49835333,1
3,03-Apr-23,Finished,"HUSSEIN, Shuman (Dr)",Stanhope Mews GP,49831920,1
4,03-Apr-23,Finished,"HUSSEIN, Shuman (Dr)",Stanhope Mews GP,49836330,1
...,...,...,...,...,...,...
45946,28-Mar-24,Finished,"AMBULAI, Lahai",HCA Session,57652225,1
45947,28-Mar-24,Finished,"AMBULAI, Lahai",HCA Session,56613311,1
45948,28-Mar-24,Finished,"AMBULAI, Lahai",Stanhope Mews Nurse,49855926,1
45949,28-Mar-24,Finished,"AMBULAI, Lahai",Stanhope Mews Nurse,17368770,1
45950,28-Mar-24,Finished,"AMBULAI, Lahai",Stanhope Mews Nurse,30257412,1

In [19]:
data.duplicated().sum()

np.int64(4026)

In [20]:
new = data.drop_duplicates(keep='first')

In [21]:
new[:25000].to_csv('/Users/janduplessis/Library/CloudStorage/OneDrive-NHS/python-data/ACCESS BI/train_5.csv', index=False)

In [22]:
new[25001:].to_csv('/Users/janduplessis/Library/CloudStorage/OneDrive-NHS/python-data/ACCESS BI/train_6.csv', index=False)