# Trimming **Training Set**
Trimming the training set to make it possible to add the current FY data to the end of the training set.  
training till 31 March 2025 the 1 April 25 to 31 March 2026 to become part of the training set.

In [1]:
import pandas as pd

In [2]:
# Training Set 
dfs = []
for i in range(1,11):
    df = pd.read_csv(f'/Users/janduplessis/Library/CloudStorage/OneDrive-NHS/python-data/ACCESS BI/train_{i}.csv')
    dfs.append(df)

train = pd.concat(dfs, axis=0, ignore_index=True)

In [3]:
train.shape

(205010, 6)

In [4]:
train.head()

,Appointment date,Appointment status,Clinician,Rota type,Patient ID,Patient Count
0,04-Jan-21,Finished,"HUSSEIN, Shuman (Dr)",Session,48546050,1
1,04-Jan-21,Finished,"HUSSEIN, Shuman (Dr)",Session,47930036,1
2,04-Jan-21,Finished,"HUSSEIN, Shuman (Dr)",Session,49851359,1
3,04-Jan-21,Finished,"HUSSEIN, Shuman (Dr)",Session,49851478,1
4,04-Jan-21,Finished,"HUSSEIN, Shuman (Dr)",Session,49826013,1

In [5]:
train.columns = train.columns.str.lower().str.replace(' ', '_').str.strip()

In [6]:
train.head(2)

,appointment_date,appointment_status,clinician,rota_type,patient_id,patient_count
0,04-Jan-21,Finished,"HUSSEIN, Shuman (Dr)",Session,48546050,1
1,04-Jan-21,Finished,"HUSSEIN, Shuman (Dr)",Session,47930036,1

In [7]:
train['rota_type'].value_counts()

rota_type
Stanhope Mews GP                           125661
Stanhope Mews Nurse                         21812
Stanhope Mews Nurse Practitioner            18692
Stanhope Mews Pharmacist ARRS               12153
HCA Session                                 11112
Stanhope Mews Registrar                      8747
Session                                      1782
Stanhope Mews Pharmacist                     1340
Stanhope Mews Extended Hours GP              1237
Stanhope Mews Staff                          1236
Smoking Cessation                             545
Med Student Session                           256
Urgent Clinics                                179
Tutorial Session                              108
Physiotherapy                                  46
Stanhope Mews Physicians Associate ARRS        38
Diabetes VGC                                   28
GP Registrar Session                           17
MCMW Frailty MDT                                8
GP Session                                      8
Nurse Clinic                                    5
Name: count, dtype: int64

In [8]:
selected_rota_types = ['Stanhope Mews GP','Stanhope Mews Nurse','Stanhope Mews Nurse Practitioner','Stanhope Mews Registrar',
                       'Session','Stanhope Mews Staff','Med Student Session','Urgent Clinics','Tutorial Session', 'GP Registrar Session',
                       'MCMW Frailty MDT','GP Session','Nurse Clinic']

In [9]:
train_final = train[train['rota_type'].isin(selected_rota_types)].copy()

In [10]:
train_final.shape

(178511, 6)

In [20]:
train_final.to_csv('/Users/janduplessis/Library/CloudStorage/OneDrive-NHS/python-data/ACCESS BI/FILTERED_TRAIN_SET.csv', index=False)

In [21]:
train_final['appointment_date'] = pd.to_datetime(train_final['appointment_date'], format='%d-%b-%y')

In [22]:
train_final['appointment_date'].min()

Timestamp('2021-01-04 00:00:00')

In [23]:
train_final['appointment_date'].max()

Timestamp('2026-01-05 00:00:00')

In [25]:
trimmed_train = train_final[train_final['appointment_date'] < pd.Timestamp('2025-04-01')]

In [26]:
trimmed_train['appointment_date'].max()

Timestamp('2025-03-31 00:00:00')

In [27]:
trimmed_train.shape

(147908, 6)

In [30]:
trimmed_train.to_csv('/Users/janduplessis/Library/CloudStorage/OneDrive-NHS/python-data/ACCESS BI/TRIMMED_TRAIN_TO_010425.csv', index=False)